
body{
  background-color:#EEEEEE;
}h1{
  color:#787A91;
  font-family: "Times New Roman", Times, serif;
}
h3{
  color:#787A91;
}
hr{
  border-style : none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #B2B1B9;
  width :5%;

}
